@page
@using Domain
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Pages.Search.Subjects

@{
}

@if(!@Model.Add){
    <form method="post">
        <input type="hidden" name="method" value="addSubjectFrom"/>
        <div class="form-group">
            <input type="submit" value="Add new Subject" class="btn btn-primary"/>
        </div>
    </form>
}
@if(@Model.Add){
    <form method="post">
        <input type="hidden" name="method" value="addSubject"/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Subject.SubjectName" class="control-label"></label>
            <input asp-for="Subject.SubjectName" class="form-control"/>
            <span asp-validation-for="Subject.SubjectName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Subject.SubjectCode" class="control-label"></label>
            <input asp-for="Subject.SubjectCode" class="form-control"/>
            <span asp-validation-for="Subject.SubjectCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Subject.ECTSForSubject" class="control-label"></label>
            <input asp-for="Subject.ECTSForSubject" class="form-control"/>
            <span asp-validation-for="Subject.ECTSForSubject" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Subject.SubjectDescription" class="control-label"></label>
            <input asp-for="Subject.SubjectDescription" class="form-control"/>
            <span asp-validation-for="Subject.SubjectDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary"/>
        </div>
    </form>
}
<br/>
<hr/>

@foreach (Subject subject in Model.Subjectz)
{
    <form method="post">
        <input type="hidden" name="method" value="subjectData"/>
        <input value="@subject.SubjectId" name="SubjectId" type="hidden"/>
        <button type="submit" class="btn btn-primary">@subject.SubjectName @subject.SubjectCode</button>
    </form>
    <br/>
}
