@page
@using Mono.TextTemplating
@model WebApp.Pages.Play.CreateGame

@{
    ViewData["Title"] = "CreateGame";
}

<button onclick="refresh()">Refresh page</button>
<form method="post">
    <div>
        <label asp-for="User.NickName">Nick name</label>
        <input asp-for="User.NickName"/>
        <input asp-for="Game" type="hidden"/>
        <input asp-for="Game.State" type="hidden"/>
        <input asp-for="GameId" type="hidden"/>
        <input asp-for="PlayerId" type="hidden"/>
        <input asp-for="AdminId" type="hidden"/>
        <span asp-validation-for="User.NickName" class="text-danger"></span>
    </div>
    <input type="submit" value="Change Nick Name" class="btn btn-primary" />
</form>
<p></p>
@{
    if (Model.GameState == null)
    {
        @("gamestate null");
    }

    if (Model == null)
    {
        var a = "modelnull";
        @a;
    }
    int i = 1;
    string players = "";
    foreach (var player in Model.GameState.Players)
    {
        players += player.NickName;
        if (i < Model.GameState.Players.Count)
        {
            players += ", ";
        }
    }
    @players
    //@Model.GameState.Players.Count
}
<p></p>
@if (Model.AdminId == Model.PlayerId)
{
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label for="HandSize">Hand Size</label>
            <input asp-for="GameId" value="7"/>
            <span asp-validation-for="GameId" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="GameId">Winning score</label>
            <input asp-for="GameId" value="500"/>
            <span asp-validation-for="GameId" class="text-danger"></span>
        </div>
        <button type="submit" name="CreateNewGame">Start Game</button>
    </form>
}


@section Scripts
{
    <script>
    
        function refresh() {
            window.location.reload();
            }
    </script>
}