@page
@using Mono.TextTemplating
@using Domain
@model WebApp.Pages.Play.CreateGame

@{
    ViewData["Title"] = "CreateGame";
}

<h2>Create Game</h2>

<button onclick="refresh()">Refresh page</button>
<p></p>
<form method="post">
    <div>
        <label asp-for="User.NickName">Nickname:</label>
        <input asp-for="User.NickName"/>
        <input asp-for="Game" type="hidden"/>
        <input asp-for="Game.State" type="hidden"/>
        <input asp-for="GameId" type="hidden"/>
        <input asp-for="PlayerId" type="hidden"/>
        <span asp-validation-for="User.NickName" class="text-danger"></span>
    </div>
    <p></p>
    <input type="submit" name="submitType" value="ChangeNickname" class="btn btn-primary" />
</form>
<p></p>
@{
    int i = 1;
    @foreach (var player in Model.GameState.Players)
    {
        @(player.NickName + " - " + (player.PlayerType == EPlayerType.Human ? "Human" : "AI"))
        <form method="post">
            <input asp-for="Game" type="hidden"/>
            <input asp-for="Game.State" type="hidden"/>
            <input asp-for="GameId" type="hidden"/>
            <input asp-for="PlayerId" type="hidden"/>
            <input type="hidden" name="submitType" value="remove"/>
            <button type="submit" name="pid" value="@player.PlayerId">remove</button>
            <br/>
        </form>
    }
}
<p></p>
@if (Model.AdminId == Model.PlayerId)
{
    
    <form method="post">
        <div>
            <label asp-for="BotName">AI Name:</label>
            <input asp-for="BotName"/>
            <input asp-for="Game" type="hidden"/>
            <input asp-for="Game.State" type="hidden"/>
            <input asp-for="GameId" type="hidden"/>
            <input asp-for="PlayerId" type="hidden"/>
            <span asp-validation-for="BotName" class="text-danger"></span>
        </div>
        <p></p>
        <button type="submit" name="submitType" value="AddAI">AddAI</button>
    </form>
    <br/>
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="HandSize">Hand Size</label>
            <input asp-for="HandSize"/>
            <span asp-validation-for="HandSize" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="ScoreToWin">Winning score</label>
            <input asp-for="ScoreToWin"/>
            <span asp-validation-for="ScoreToWin" class="text-danger"></span>
        </div>
        <input asp-for="Game" type="hidden"/>
        <input asp-for="Game.State" type="hidden"/>
        <input asp-for="GameId" type="hidden"/>
        <input asp-for="PlayerId" type="hidden"/>
        <button type="submit" name="submitType" value="CreateNewGame">Start Game</button>
    </form>
}

@section Scripts
{
    <script>
    
        function refresh() {
            window.location.reload();
            }
    </script>
}
